section.content-contact {
  .container {
    @media screen and (min-width: $tablet-BP) {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }

    @media screen and (min-width: $desktop-BP) {
      flex-direction: row;
      align-items: center;
    }

    .contact-info {
      .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;

        @media screen and (min-width: $tablet-BP) {
          flex-direction: row;
          padding: 1rem;
        }

        span {
          @media screen and (min-width: $tablet-BP) {
            margin-right: 3rem;
            padding: 2.5rem;
          }

          svg {
            width: 3rem;
            height: auto;
            padding-bottom: 1rem;

            @media screen and (min-width: $tablet-BP) {
              width: 4rem;
            }

            @media screen and (min-width: $desktop-BP) {
              width: 5rem;
            }
          }
        }

        a {
          text-decoration: none;
          font-size: 1.8rem;
          color: $black;

          @media screen and (min-width: $tablet-BP) {
            font-size: 2.5rem;
          }

          @media screen and (min-width: $desktop-BP) {
            font-size: 3rem;
          }
        }
      }
    }
  }

  .text-circle {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 15rem;
      height: 15rem;
      margin: 3rem auto;

      animation-name: rotation;
      animation-duration: 20s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;

      @keyframes rotation {
        0% {
          transform: rotate(360deg);
        }
        100% {
          transform: rotate(0deg);
        }
      }

      @media screen and (min-width: $tablet-BP) {
        width: 25rem;
        height: 25rem;
      }

      @media screen and (min-width: $desktop-BP) {
        width: 35rem;
        height: 35rem;
      }
    }
  }
}
