header.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 1rem 2rem;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  background-color: $gray-soft-1;

  @media screen and (min-width: $tablet-BP) {
    padding: 1.25rem 4rem;
  }

  @media screen and (min-width: $desktop-BP) {
    padding: 1.5rem 10rem;
  }

  .logo {
    img {
      width: 6rem;
      height: auto;

      @media screen and (min-width: $tablet-BP) {
        width: 7rem;
      }

      @media screen and (min-width: $desktop-BP) {
        width: 10rem;
      }
    }
  }

  .menu-btn {
    width: auto;
    height: auto;
    border: none;
    background: none;

    @media screen and (min-width: $desktop-BP) {
      display: none;
    }

    .none {
      display: none;
    }
  }

  .menu {
    position: fixed;
    top: 5.8rem;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: $gray-soft;
    pointer-events: none;
    transition: all 0.75s ease;

    @media screen and (min-width: $tablet-BP) {
      top: 7rem;
    }
    @media screen and (min-width: $desktop-BP) {
      background-color: $gray-soft-1;
      position: static;
      height: auto;
      right: auto;
      pointer-events: auto;
    }

    .menu-nav {
      list-style: none;
      padding: 5rem;

      @media screen and (min-width: $tablet-BP) {
        padding: 7rem;
      }

      @media screen and (min-width: $desktop-BP) {
        flex-direction: row;
        display: flex;
        justify-content: flex-end;
        padding: 0;
        margin: 0;
        line-height: normal;
        align-items: center;
        height: 100%;
      }

      li {
        padding: 3rem 0;

        @media screen and (min-width: $tablet-BP) {
          padding: 5rem;
        }

        @media screen and (min-width: $desktop-BP) {
          padding: 0 0 0 2rem;
        }
      }

      a {
        padding: 1rem 0;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        color: $dark;

        @media screen and (min-width: $tablet-BP) {
          font-size: 2.5rem;
        }

        @media screen and (min-width: $desktop-BP) {
          font-size: 2rem;
        }
      }
      .active {
        border-bottom: 2.5px solid $wine;

        @media screen and (min-width: $tablet-BP) {
          color: $dark;
          border: none;
        }
      }
    }
  }

  .menu.is-active {
    right: 0;
    pointer-events: auto;
  }
}
